[FORMAT] 
  good-names=i,j,ex,pk

[MESSAGES CONTROL]
  disable=broad-except,
  disable=imported-auth-user,
  disable=missing-class-docstring,
  disable=no-self-use,
  disable=abstract-method,

[MASTER]
  disable=C0114,

